<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <base href="/" />

    <title>PoC - Calendar</title>
  </head>
  <body>
    <div class="app-wrapper" ng-controller="mainCtrl">
      <div id="dashboard">
        <header id="header">
          <h1>PoC - Calendar</h1>
        </header>
        <div id="main-container">
          <div ui-view='main-contaner'></div>
        </div>

        <footer id="footer">
          <p>@PoC - Calendar</p>
        </footer>
      </div>
    </div>
  </body>
</html>
